.botonesConoceme {
  display: flex;
  position: relative;
  top: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.tituloAbout {
  display: flex;
  justify-content: center;
}

.btn-secundary {
  background-color: #0dd1a9;
  color: white;
  border-color: #0dd1a9;
}

.btn-secundary:hover {
  color: #0dd1a9;
  background-color: white;
  border-color: #0dd1a9;
}

.qt-background {
  background: url(../img/img-frase.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.parrafo {
  background-color: rgb(255, 255, 255, 0.5);  
  padding: 10px;
  color: black;
  border-radius: 15px;
}

.containerAbout{
  border-bottom: solid #0dd1a9 1px;
}

.imgExpand{
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}
.imgExpand :hover{
  transform: scale(1.1);
}