.botonesConoceme {
  display: flex;
  position: relative;
  top: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.tituloAbout {
  display: flex;
  justify-content: center;
}
.text-Cabezera{
  font-size: 25px;
  color: white;
  padding: 20px;
  position: relative;
  top: 30px;

}
.btn-secundary {
  background-color: #0dd1a9;
  color: white;
  border-color: #0dd1a9;
}

.btn-secundary:hover {
  color: #0dd1a9;
  background-color: white;
  border-color: #0dd1a9;
}
.btn-agenda {
  border: 1px solid #0dd1a9;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-agenda:hover {
  background-color: #0dd1a9;
  color: white;
  text-decoration: none;
}

.btn-heat {
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 30px;
}

.btn-heat:hover {
  background-color: white;
  color: #0dd1a9;
  text-decoration: none;
}
.btn-conoceme {
  border: 1px solid #0dd1a9;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-conoceme:hover {
  background-color: #0dd1a9;
  color: white;
  text-decoration: none;
}

.qt-background {
  background: url(../img/img-frase.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.parrafo {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  color: black;
  border-radius: 15px;
}

.containerAbout {
  border-bottom: solid #0dd1a9 1px;
}

.imgExpand {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}
.imgExpand :hover {
  transform: scale(1.1);
}
.serviciosCentrar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.volver {
  display: none;
}
.contenedorVolver {
  display: none;
}
.logoWhatsapp {
  width: 60px;
  height: 60px;
}
.whatsapp {
  position: fixed;
  width: 30px;
  text-align: center;
  right: 50px;
  bottom: 90px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.contenedorFooter {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: #0dd1a9;
  color: black;
}
.contenidoFooter {
  display: flex;
  justify-content: center;
}
.rrss {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  left: 50px;
}
.icon {
  padding: 10px;
}
.parrafoFinal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 18px;
  padding: 20px;
}
.tituloInformacion1 {
  text-align: center;
  border-bottom: 2px solid white;
}
.tituloInformacion2 {
  text-align: center;
  border-bottom: 2px solid white;
}
.tituloInformacion3 {
  display: none;
}
.jose {
  position: relative;
  border-top: solid white 2px;
  padding: 20px;
}
span {
  color: black;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  right: 50px;
  padding: 20px;
}
.inicio {
  color: black;
  font-weight: bold;
}
.inicio:hover {
  color: white;
  text-decoration: none;
}
.aFooter {
  color: white;
}
.aFooter:hover {
  color: black;
  text-decoration: none;
}
.saberMas {
  position: absolute;
  border: #89b8ae 1px solid;
  padding: 5px 50px;
  border-radius: 15px;
  text-decoration: none;
  top: 20px;
  text-align: center;
}
.contenedorServicios {
  background-color: #ececec;
}
.cajaServicios {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px #bebbbb;
}
.cajaServicios2 {
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px 5px #bebbbb;
}
.centradoBtn {
  display: flex;
  justify-content: center;
}
.btn-servicios {
  display: flex;
  border: solid 1px #0dd1a9;
  padding: 10px 40px;
  border-radius: 30px;
  position: relative;
  bottom: 20px;
  background-color: white;
}
.btn-servicios:hover {
  background-color: #0dd1a9;
  color: white;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .contenedorFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0dd1a9;
    color: black;
    width: 100%;
  }
  .text-Cabezera{
  font-size: 20px;
  color: white;
  padding: 10px;
  position: relative;
  top: 30px;

}
  .contenidoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tituloInformacion1 {
    display: none;
  }
  .tituloInformacion3 {
    display: flex;
    text-align: center;
    border-bottom: 2px solid white;
  }
  .navFooter {
    display: none;
  }
  .informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cente;
    position: relative;
    text-align: center;
    top: 18px;
    font-size: 15px;
  }
  .tituloInformacion {
    display: flex;
    justify-content: center;
  }
  .rrss {
    display: flex;
    position: relative;
    top: 5px;
    left: 5px;
    right: 200px;
  }
  .rrssContent {
    display: flex;
  }
  .jose {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid white 2px;
    padding: 20px;
    font-size: 15px;
  }
  .serviciosCentrar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .botonesConoceme {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .parrafo {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    color: black;
    border-radius: 15px;
    font-size: 5px;
  }

  .btn-secundary {
    background-color: #0dd1a9;
    color: white;
    border-color: #0dd1a9;
    position: relative;
    top: 20px;
    padding: 10px 30px;
  }
  .btn-agenda {
    display: none;
    border: 1px solid #0dd1a9;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 15px;
  }

  .btn-agenda:hover {
    background-color: #0dd1a9;
    color: white;
    text-decoration: none;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 50px;
  }

  .btn-heat {
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
  }

  .btn-heat:hover {
    background-color: white;
    color: #0dd1a9;
    text-decoration: none;
  }
  .whatsapp {
    position: fixed;
    width: 30px;
    height: auto;
    text-align: center;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
  }
  .logoWhatsapp {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 900px) {
  .volver {
    display: flex;
    justify-content: center;
    background-color: #0dd1a9;
    color: white;
    padding: 6px 58px;
    border-radius: 30px;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    top: 20px;
    bottom: 15px;
  }
  .volver:hover {
    background-color: white;
    border: #0dd1a9 solid 1px;
    color: #0dd1a9;
    text-decoration: none;
  }
  .contenedorVolver {
    display: flex;
    justify-content: center;
  }
}
